<!-- <input [formControl]="control">
<input type="date">
<input type="text" [value]="date | slice:2:5">


<fieldset [formGroup]="group">
    <input type="text" formControlName="first">
    <input type="text" formControlName="last">
</fieldset> -->

<!-- <fieldset [formGroup]="secondGroup">
    <ul formArrayName="list">
        <li *ngFor="let listItem of secondGroup.controls.list.controls; let i=index">
            <input type="text" formControlName={{i}}>
        </li>
    </ul>
</fieldset> -->

<!-- <app-sub-form (event)="toConsole($event)" (text)="toConsole($event)"></app-sub-form>
<a (blur)="toConsole(1)" href="">sdfhsdfkjsdhf</a> -->

<!-- <p-inputMask [(ngModel)]="date" (ngModelChange)="setTime()" mask="99:99" ></p-inputMask> -->
<!-- <p-calendar [(ngModel)]="date" timeOnly="true"></p-calendar>
<input type="text" pKeyFilter="int"> -->
<!-- <input type="text" [(ngModel)]="string"> -->

<!-- <app-time-input [time]="date" (outDate)="setDate($event)"></app-time-input> -->

<app-time-input [time]="date" (blur)="cons()" (outDate)="setDate($event)" ></app-time-input>




<!-- <p>{{date}}</p> -->